*,
::before,
::after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* full screen*/
html,
body {
    height: 100%;
}
.design {
    position: relative;
    height: 100%;
    color: white;
    background: #161616;
}
/* menu bar */
.menu_bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 590px;
    height: 80px;
    float: right;
}
.menu_item {
    display: inline-block;
    margin: 30px 0px 30px 55px;
    font-family: "Lora", serif;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 17px;
}
.active {
    padding-bottom: 29px;
    color: #efc862;
    border-bottom: 2px solid #efc862;
}

/* logo and social icons */
.company {
    position: relative;
    width: 120px;
    height: 100%;
    font-family: "Lora", serif;
    border-right: 1px solid #707070;
}
.logo {
    font-size: 41px;
    padding-top: 20px;
    text-align: center;
}
.social {
    position: absolute;
    bottom: 0;
    width: 43px;
    height: 210px;
    margin-left: 38.5px;
}
.social .icon {
    color: white;
    display: block;
    font-size: 41px;
    margin-top: 14.5px;
    text-align: center;
}

/* main content */
.main {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: calc(100% - 120px);
    background-image: url("images/27881082_163719291088826_1429379345335451648_n.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.writing {
    position: absolute;
    top: 30%;
    right: 12%;
    width: 400px;
    height: auto;
}
.writing h2 {
    font-size: 72px;
    text-transform: capitalize;
    font-family: "Lora", serif;
}
